@import url(https://fonts.googleapis.com/css?family=Raleway);

@font-face {
    font-family: ;
    src: url();
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif Ottoman Siyaq', serif;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===== HEADER ===== */

header {
    background-color: black;
    color: white;
}

header .header_content .top-nav div img {
    height: 100px;
    width: 100px;    
}

/* ===== MAIN ===== */


/* ===== FOOTER ===== */

footer {
    background-color: black;
    color: white;
}

footer div p {
    text-align: center;
    font-size: 0.75rem;
}

footer .footer_content img {
    height: 100px;
    width: 100px;    
}

footer .redes_footer img {
    height: 35px;
    width: 35px;
}

/* ===== FUNCIONES ===== */

.body_content {
    /* display: flex block; */
}

.header_content {

}

/* ==== FUNCIONES MENU HAMBURGUESA ==== */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849); */
    color: #FFF;
    height: 120px;
    padding: 1em;
}
  
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu > li {
    margin: 0 0.5rem;
    overflow: hidden;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* =================================== */

.main_content_index {
    display: flex;
    flex-direction: column;
}

.main_content_index a {
    border: 3px solid darkorange;
    color: darkorange;
    padding: 2px;
    width: 10vh;
    text-align: center;
    border-radius: 1vh;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 30px;
    padding: 1rem;
}

.footer_content nav ul {
    display: flex block;
    text-align: center;
    gap: 10px;
}

.section_index_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url(../img/portada.jpeg);
    background-size: cover;
    background-position-y: center;
    height: 20vh;
}

.section_index_product {
    display: flex;
    flex-direction: row;
    text-align: right;
}

.articulo_producto_index {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

.imagen_producto_index {
    width: 50%;
    height: 30vh;
    background-image: url(../img/Productos.jpeg);
    background-size: cover;
    background-position-y: center;
}

.section_index_services {
    display: flex;
    flex-direction: row;
    text-align: left;   
}

.articulo_servicios_index {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.imagen_servicios_index {
    width: 50%;
    height: 30vh;
    background-image: url(../img/Servicios.jpeg);
    background-size: cover;
    background-position-y: center;
}

.section_index_jobs {
    display: flex;
    flex-direction: row;
    text-align: right;
}

.articulo_jobs_index {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

.imagen_jobs_index {
    width: 50%;
    height: 30vh;
    background-image: url(../img/jobs.jpeg);
    background-size: cover;
    background-position-y: center;
}

.redes_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
    margin-right: 1rem;
}

.copy_footer {
    grid-column: span 3;
    text-align: center;
}

@media (max-width: 768px) {

    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 120px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .articulo_producto_index {
        width: 100%;
        color: white;
        background-image: url(../img/Productos.jpeg);
        background-size: cover;
        background-position-y: center;
    }

    .imagen_producto_index {
        display: none;
    }

    .articulo_servicios_index {
        width: 100%;
        color: white;
        background-image: url(../img/Servicios.jpeg);
        background-size: cover;
        background-position-y: center;
    }
    
    .imagen_servicios_index {
        display: none;
    }

    .articulo_jobs_index {
        width: 100%;
        color: white;
        background-image: url(../img/jobs.jpeg);
        background-size: cover;
        background-position-y: center;
    }

    .imagen_jobs_index {
        display: none;
    }

    .main_content_index a {
        border: 3px solid white;
        color: white;
    }

}

@media (min-width:1200px) {

    .top-nav {
        height: 170px;
    }

    header .header_content .top-nav div img {
        height: 150px;
        width: 150px;    
    }

    .header_content {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    .main_content_index {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    .main_content_index a {
        border: 3px solid darkorange;
        color: darkorange;
    }

    .footer_content {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_content nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_content nav ul{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    footer .footer_content img {
        height: 150px;
        width: 150px;    
    }

    .redes_footer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;
    }

    footer .redes_footer img {
        height: 45px;
        width: 45px;
    }

    footer div p {
        text-align: center;
        font-size: 1rem;
    }
}