/* ====== INDEX ====== */

.section_index_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url(../img/portada.jpeg);
    background-size: cover;
    background-position-y: center;
    height: 20vh;
}

.section_index_product {
    display: flex;
    flex-direction: row;
    text-align: right;
}

.section_index_services {
    display: flex;
    flex-direction: row;
    text-align: left;   
}

.articulo_producto_index {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;

    @include mobile {
        width: 100%;
        color: white;
        background-image: url(../img/Productos.jpeg);
        background-size: cover;
        background-position-y: center;
    }
}

.imagen_producto_index {
    width: 50%;
    height: 30vh;
    background-image: url(../img/Productos.jpeg);
    background-size: cover;
    background-position-y: center;

    @include mobile {
        display: none;
    }
}

.articulo_servicios_index {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    @include mobile {
        width: 100%;
        color: white;
        background-image: url(../img/Servicios.jpeg);
        background-size: cover;
        background-position-y: center;
    }
}

.imagen_servicios_index {
    width: 50%;
    height: 30vh;
    background-image: url(../img/Servicios.jpeg);
    background-size: cover;
    background-position-y: center;

    @include mobile {
        display: none;
    }
}

.section_index_jobs {
    display: flex;
    flex-direction: row;
    text-align: right;
}

.articulo_jobs_index {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;

    @include mobile {
        width: 100%;
        color: white;
        background-image: url(../img/jobs.jpeg);
        background-size: cover;
        background-position-y: center;
    }
}

.imagen_jobs_index {
    width: 50%;
    height: 30vh;
    background-image: url(../img/jobs.jpeg);
    background-size: cover;
    background-position-y: center;

    @include mobile {
        display: none;
    }
}