/* ====== SERVICIOS ====== */

.sec-services__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    background-image: url(../img/portada.jpeg);
    background-size: cover;
    background-position-y: 45%;

    position: relative;
    isolation: isolate;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background: rgb(29, 29, 29);
        opacity: .5;
    }

    h1 {
        color: white;
    }

    @include mobile {
        height: 10vh;
    }
}

.sec-services-subtitle__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    h2 {
        color: darkorange;
        text-align: center;
    }

    article {
        width: 50%;
        padding: 1rem;

        @include mobile {
            width: 100%;
            padding: 10px;
        }
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 1rem;
        text-align: center;
    }
}

.sec-services__separator {
    height: 0.5vh;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    border: 3px solid darkorange;
    border-radius: 1vh;
}

.sec-services-form__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    h2 {
        color: darkorange;
    }

    article {
        width: 50%;
        padding: 1rem;

        @include mobile {
            width: 100%;
            padding: 10px;
        }
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 1rem;
        text-align: center;
    }
}