/* ====== TRABAJOS ====== */

.sec-jobs__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    background-image: url(../img/portada.jpeg);
    background-size: cover;
    background-position-y: 45%;

    h1 {
        color: white;
    }

    p {
        color: white;
        gap: 1rem
    }
}

.sec-jobs-cajas__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    gap: 1rem;
    min-width: 280px;

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        padding: 1rem;
        padding: 2vh;
        gap: 1rem;
    }
}