/* ====== ESTILOS CAJAS ====== */

@keyframes ingresar-desde-arriba {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

/* DISEÑO DE CAJA PARA PRODUCTOS Y TRABAJOS - SE REALIZA TRANSICION DE IZQ. A DER. Y ZOOM AL PASAR POR LA IMAGEN */
.product__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid darkorange;
    border-radius: 1vh;
    padding: 20px;
    gap: 1rem;
    text-align: center;
    min-width: 260px;
    max-width: 350px;

    box-shadow: 10px 10px 10px 0px rgb(126, 70, 3);
    position: relative;
    animation: ingresar-desde-arriba 2s ease;

    img {
        min-width: 210px;
        max-width: 300px;
        width: 100%;
        height: 100%;
        border: 1px solid black;

        @include tablet {
            min-width: 150px;
            max-width: 200px;
            max-height: 350px;
            width: 100%;
            height: 100%;

            &:hover {
                transform: scale(2.2);
                cursor: pointer;
            }

        }

    }

    h3 {
        color: darkorange;
        text-align: center;
    }

    @include tablet {
        min-width: 210px;
        max-width: 450px;
        width: 100%;
        height: 100%;
    }

    @include desktop {
        min-width: 210px;
        max-width: 380px;
        width: 100%;
        height: 100%;
    }
}